<a href="https://colab.research.google.com/github/lupuentes33/DATA_23/blob/main/04__DS_AND_PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. DS and pandas 
it is the excell of python

In [1]:
#library pandas 

import numpy as np
import pandas as pd

# **2. series**

A *series*  os a one dimentional object

In [ ]:
## 2.1. series creation

In [2]:
# empty series 

s_empty = pd.Series()
print(s_empty)

Series([], dtype: float64)

<ipython-input-2-6bee35f2c77c>:3: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s_empty = pd.Series()

In [4]:
s_int = pd.Series([1,2,3,4,5,6,7,8,9])
print(s_int)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [16]:
print("location","names")
s_names = pd.Series(["nicolas", "luisa","jose"])

print(s_names)

location names
0    nicolas
1      luisa
2       jose
dtype: object

In [37]:
# crate a serie with random numbers

s_num = pd.Series(np.random.rand(10))

print(s_num)

0    0.934231
1    0.953674
2    0.590717
3    0.777311
4    0.834880
5    0.058538
6    0.973469
7    0.593926
8    0.501418
9    0.699969
dtype: float64

## **indexing in pandas library**

In [20]:
#check the index of a series 

s_name.index

RangeIndex(start=0, stop=10, step=1)

In [30]:
# create your own index 

new_index = ["a","b","c"]

s_names = s_names.set_axis(new_index)
print(s_names)

a    nicolas
b      luisa
c       jose
dtype: object

# **2.3 select and slice**

In [36]:
# simple slection 

s_names["b"]

'luisa'

In [39]:
# select different elements

s_num[[3,8]]

3    0.777311
8    0.501418
dtype: float64

In [41]:
# another way 

s_num[:3]

0    0.934231
1    0.953674
2    0.590717
dtype: float64