<a href="https://colab.research.google.com/github/lupuentes33/DATA_23/blob/main/Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **First Part**

Picth

Format - .ipynb

Contents:

1. Variable:

    1.1. Name and description.
    
    1.2. Period or dates. Frequency. Individuals.
    
    1.3. Sources (with links).

2. Goal of the DV

    2.1. Story.

    2.2. Audience.

    2.3. Justify the DV type.

3. Examples

    3.1. Example A.
         * 2.1, 2.2, 2.3.
    3.2. Example B.
         * 2.1, 2.2, 2.3. 

Each element worths 1.25 units, the final 1.25 is gven according to order, grammar and aesthetics.

<h1 align = "center">
<strong> Universidad de La Salle </strong>
</h1>

<h1 align = "center">
<strong> International bussiness and relations Program </strong>
</h1>

<h1 align = "center">
<strong> Data Visualization  </strong>
<h1 align = "center">
<strong> Project  </strong>

### **Name: Luisa Fernanda Puentes Barrera**
### **code: 64181133**

### **1. Variable**

####1.1 Name and description:
* **connetion:** are those people who have a bradband internet suscription
* **Safe:** servers that are secure to use 
* **Online-time:** all the time per day that a person ssurfing in the  web

####1.2 Period or dates.frecuency and individual:
* **Period of date. frecuency :** it will be a time serius for the year 2018 to 2022
* **Indivduals:** Countries like: 
  * Colombia 
  * Ecuador 
  * Peru 
  * China 
  * United States

####1.3 Sources (with link):

Wifi population uses
 [wifi](https://datos.bancomundial.org/indicador/IT.CEL.SETS.P2?end=2020&locations=CN-CO-US-MX-PE&most_recent_year_desc=false&start=2016)


 ---

#### **2. Goal of the DV**

**2.1. Story:** In the globalized world in which we find ourselves, digital development and telecommunications require us to be connected, the internet enables personal growth and th development of daily activities.

**2.2. Audience:**
* governments 
* Ministries 
* Organizations 
* Tecommunications company

**2.3. Justify the DV type:**

* consists of a series of data represented by dots, linked by linear segments. Using this graph, the change in trend of the data can be quickly checked.


---

#### **3. Examples**

3.1 

EXAMPLE 1:

**Manhattan population explorer**

![Manhattan population explorer](https://3.bp.blogspot.com/-eeDrwFRa-mE/WvLFEACKNLI/AAAAAAAA1_E/Uu08P1F8NeMb3_pX_ulFLMslhrVtTovbgCLcBGAs/s523/typhoon.gif)

EXAMPLE 2: 

**Famous books in the last 50 years**

![famous books in the last 50 years](https://tclibraryblog.files.wordpress.com/2017/08/1d4b7dda2e6da3793f22c541997b6d59-popular-books-read-books.jpg)

#IMPORT DATA FINAL PROYECT SECOND PART#


5.1. Import a databaset
.xlsx, .csv, .txt

First upload the file to Colab

Then...

In [5]:
import pandas as pd

In [6]:
# Save the path o the file 
p = "/content/SUB_WIFI.xlsx"

# Read the file 
d = pd.read_excel(p)

# Check
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PAIS          55 non-null     object
 1   CÓDIGO        55 non-null     object
 2   AÑO           55 non-null     int64
 3   SUSCRIPTORES  55 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.8+ KB