<a href="https://colab.research.google.com/github/lupuentes33/DATA_23/blob/main/internet_(EXAM2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##1. INTRODUCTION ##

In [1]:
# Libraries

import numpy as np
import pandas as pd
import plotly.express as px

In [9]:
p = "/content/DATOS DE DATA (1).xlsx"
d = pd.read_excel(p)
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  210 non-null    object
 1   Country Code  210 non-null    object
 2   Series Name   210 non-null    object
 3   Series Code   210 non-null    object
 4   Time          210 non-null    int64
 5   Time Code     210 non-null    object
 6   Value         210 non-null    object
dtypes: int64(1), object(6)
memory usage: 11.6+ KB

In [10]:
# check the first entries
d.head()

,Country Name,Country Code,Series Name,Series Code,Time,Time Code,Value
0,Colombia,COL,Agricultural land (% of land area),AG.LND.AGRI.ZS,2016,YR2016,40.309148
1,Colombia,COL,Agricultural land (% of land area),AG.LND.AGRI.ZS,2017,YR2017,44.61379
2,Colombia,COL,Agricultural land (% of land area),AG.LND.AGRI.ZS,2018,YR2018,44.607481
3,Colombia,COL,Agricultural land (% of land area),AG.LND.AGRI.ZS,2019,YR2019,44.712934
4,Colombia,COL,Agricultural land (% of land area),AG.LND.AGRI.ZS,2020,YR2020,43.481589

In [11]:
# chack the last entries
d.tail()

,Country Name,Country Code,Series Name,Series Code,Time,Time Code,Value
205,"Venezuela, RB",VEN,Prevalence of undernourishment (% of population),SN.ITK.DEFC.ZS,2016,YR2016,16.4
206,"Venezuela, RB",VEN,Prevalence of undernourishment (% of population),SN.ITK.DEFC.ZS,2017,YR2017,22.2
207,"Venezuela, RB",VEN,Prevalence of undernourishment (% of population),SN.ITK.DEFC.ZS,2018,YR2018,22.7
208,"Venezuela, RB",VEN,Prevalence of undernourishment (% of population),SN.ITK.DEFC.ZS,2019,YR2019,24.9
209,"Venezuela, RB",VEN,Prevalence of undernourishment (% of population),SN.ITK.DEFC.ZS,2020,YR2020,22.9

#**3.cleaning**

In [14]:
# change names 

d.rename(columns = {"Time" : "year"}, inplace = True)

d.head()

,Country Name,Country Code,Series Name,Series Code,year,Time Code,Value
0,Colombia,COL,Agricultural land (% of land area),AG.LND.AGRI.ZS,2016,YR2016,40.309148
1,Colombia,COL,Agricultural land (% of land area),AG.LND.AGRI.ZS,2017,YR2017,44.61379
2,Colombia,COL,Agricultural land (% of land area),AG.LND.AGRI.ZS,2018,YR2018,44.607481
3,Colombia,COL,Agricultural land (% of land area),AG.LND.AGRI.ZS,2019,YR2019,44.712934
4,Colombia,COL,Agricultural land (% of land area),AG.LND.AGRI.ZS,2020,YR2020,43.481589

#4.Delete columns

In [15]:
# two columns that do not add information and do not affect the database will be removed from the database 
d = d.drop(columns = ["Time Code" , "Series Code"])

d.head()

,Country Name,Country Code,Series Name,year,Value
0,Colombia,COL,Agricultural land (% of land area),2016,40.309148
1,Colombia,COL,Agricultural land (% of land area),2017,44.61379
2,Colombia,COL,Agricultural land (% of land area),2018,44.607481
3,Colombia,COL,Agricultural land (% of land area),2019,44.712934
4,Colombia,COL,Agricultural land (% of land area),2020,43.481589

In [16]:
# (optional) duplicate the dataframe
dd = d

In [20]:
# Duplicate year variable 
dd["year_str"] = dd["year"].astype(str)

#check
dd.head()

,Country Name,Country Code,Series Name,year,Value,year_str
0,Colombia,COL,Agricultural land (% of land area),2016,40.309148,2016
1,Colombia,COL,Agricultural land (% of land area),2017,44.61379,2017
2,Colombia,COL,Agricultural land (% of land area),2018,44.607481,2018
3,Colombia,COL,Agricultural land (% of land area),2019,44.712934,2019
4,Colombia,COL,Agricultural land (% of land area),2020,43.481589,2020