<a href="https://colab.research.google.com/github/lupuentes33/DATA_23/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. What is python?

it was created in 1991 and it is a **general-purposue progaming language**

This meansthat python is used for 

* Data visualization

* Automating task

* Machinne Learning 

* optiization 

* web deveploment 

* user interfaces creation 

* Create another sofware 

* create video games

# 2. Why python?

The main reasons:

* It is simple
* Focus 
* Easy to learn 
* open- source: it is free
* Cros- platform 
* Extensive libraries

#3. Getting Started

#3.1 Python as a calculator

In [ ]:
# Addition 
2 + 2

4

In [ ]:
#  subtraction 
23 - 7

16

In [ ]:
# Multiplication 
13 * 7

91

In [ ]:
# Division 
10 / 3

3.3333333333333335

In [ ]:
#integer Division 
10 // 3

3

In [ ]:

2**3

8

composite operations and paranthesis

In [ ]:
#example 
(2 + 3)*4

20

## 3.3 integers and real numbers 
integers: dont have decimals , but can be positive and negative 

type(26)

##### integer can be and integer in the oppperation except in division

In [ ]:
# interger (with no decimal possition)
type(26)

int

In [ ]:
#real number (with decimal possitions)
type(26.0)

float

In [ ]:
# Examples 
# find out if the next expressions are int or float 
type(2 + 3.0)
type(2.5*7)
type(4.0/2)

float

In [ ]:
type(2.5*7)

float

In [ ]:
type(4.0/2)

float

### scientific notation

In [ ]:
# exmaple 
5e1

50.0

In [ ]:
6e-2

0.06

In [ ]:
type(5e1)

float

In [ ]:
# practice
# write million in scientific notation 
# what is the result of 3e0.2

In [ ]:
# write million in scientific notation
1e6

1000000.0

In [ ]:
# what is the result of 
3e02

300.0

### transformation 
you can change the type() ofr a numbre or you can force a type() of a number

In [ ]:
# Example 
float(6)

6.0

In [ ]:
int(3.33333)

3

# 3.4 Basic and useful functions
Functions let us do things more efficiently.

Print

In [1]:
# Example with numbers

print(2023)
print(2024)
print(22,2,2022)

2023
2024
22 2 2022

In [2]:
# Example - hard version

for i in range(0,11): print(i)

0
1
2
3
4
5
6
7
8
9
10

In [3]:
# Example - With Text

print('Hello World')
print('First Name: Luisa', 'Second Name: Fernanda')
print('First Name: Luisa', '\tSecond Name: Fernanda')
print('First Name: Luisa', '\nSecond Name: Fernanda')

Hello World
First Name: Luisa Second Name: Fernanda
First Name: Luisa 	Second Name: Fernanda
First Name: Luisa
Second Name: Fernanda

In [4]:
# Example - text and numbers

print('My lucky number is:', 16)

My lucky number is: 16

## Round
### It will tle us to control the decimal positions.

In [5]:
# Example
# Consider 8.53214794
# Let's use round

print('The approximation of',8.53214794, 'with', 0, 'decimals is:', round(8.53214794,0))
print('The approximation of',8.53214794, 'with', 1, 'decimals is:', round(8.53214794,1))

The approximation of 8.53214794 with 0 decimals is: 9.0
The approximation of 8.53214794 with 1 decimals is: 8.5

In [6]:
print('The approximation of',8.53214794, 'with:')
print(0, 'decimals is:', round(8.53214794,0))
print(1, 'decimals is:', round(8.53214794,1))

The approximation of 8.53214794 with:
0 decimals is: 9.0
1 decimals is: 8.5

In [7]:
print('The approximation of',8.53214794, 'with:')
print('Decimals','Result')
print(0, '\t', round(8.53214794,0))
print(1, '\t', round(8.53214794,1))

The approximation of 8.53214794 with:
Decimals Result
0 	 9.0
1 	 8.5

In [8]:
print('The approximation of',8.53214794, 'with:')
print('Decimals','Result')
for i in range(0,8): 
  print(i, '\t', round(8.53214794,i))

The approximation of 8.53214794 with:
Decimals Result
0 	 9.0
1 	 8.5
2 	 8.53
3 	 8.532
4 	 8.5321
5 	 8.53215
6 	 8.532148
7 	 8.5321479

In [9]:
print('The first',100,'multiples of',2,':')
print('Multiple','Result')
for i in range(1,101): 
  print(i, '\t', 2*i)

The first 100 multiples of 2 :
Multiple Result
1 	 2
2 	 4
3 	 6
4 	 8
5 	 10
6 	 12
7 	 14
8 	 16
9 	 18
10 	 20
11 	 22
12 	 24
13 	 26
14 	 28
15 	 30
16 	 32
17 	 34
18 	 36
19 	 38
20 	 40
21 	 42
22 	 44
23 	 46
24 	 48
25 	 50
26 	 52
27 	 54
28 	 56
29 	 58
30 	 60
31 	 62
32 	 64
33 	 66
34 	 68
35 	 70
36 	 72
37 	 74
38 	 76
39 	 78
40 	 80
41 	 82
42 	 84
43 	 86
44 	 88
45 	 90
46 	 92
47 	 94
48 	 96
49 	 98
50 	 100
51 	 102
52 	 104
53 	 106
54 	 108
55 	 110
56 	 112
57 	 114
58 	 116
59 	 118
60 	 120
61 	 122
62 	 124
63 	 126
64 	 128
65 	 130
66 	 132
67 	 134
68 	 136
69 	 138
70 	 140
71 	 142
72 	 144
73 	 146
74 	 148
75 	 150
76 	 152
77 	 154
78 	 156
79 	 158
80 	 160
81 	 162
82 	 164
83 	 166
84 	 168
85 	 170
86 	 172
87 	 174
88 	 176
89 	 178
90 	 180
91 	 182
92 	 184
93 	 186
94 	 188
95 	 190
96 	 192
97 	 194
98 	 196
99 	 198
100 	 200