<a href="https://colab.research.google.com/github/lupuentes33/DATA_23/blob/main/variables_on_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. What is a variable?
A variable is a container, in the sense that it stores values.

In [1]:
# Example

a = 2.57
print(a)

2.57

In [2]:
#Example
num = 152.035589855
pi  = 0
pf  = 7

print('The approximation of',num, 'with:')
print('Decimals','Result')
for i in range(pi,pf+1): 
  print(i, '\t', round(num,i))

The approximation of 152.035589855 with:
Decimals Result
0 	 152.0
1 	 152.0
2 	 152.04
3 	 152.036
4 	 152.0356
5 	 152.03559
6 	 152.03559
7 	 152.0355899

# 3. Delete and clear

In [ ]:
#example - repploace values (especific values)

del x, y

In [3]:
# example - clear (all)

%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

# **4. naming**

# **4.1 conditions and restrictions**

In [8]:
# Example - always a name of variables must start  with a letter

age = 18

## 4.2. best practices 
* case sensitive

In [5]:
# example 

age = 78 
AGE = 23

# Sug: always use lower case

* componed names

In [9]:
# example (take care space)

price_jean = 150000

# **5. data types**

5.1 integers

5.2 float

**parenthesis**: a trick

In [17]:
# example set up 

w = 0

In [ ]:
# example 

w += 1 

print(w)

In [ ]:
# example 
name = universidad de la salle
print(name)

In [ ]:
name[11]

In [ ]:
name.split()